@import url(https://fonts.google.com/specimen/Red+Hat+Display);

@media (max-width: 375px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    background-color: hsl(225, 100%, 94%);
  }
}

@media (max-width: 1440px) {
  body {
    background-image: url("https://github.com/ethanyourd/ordersummary/blob/main/images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 94%);
  }
}


